@import "_variables.scss";
@import "global";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $normal_font;
}


.logo {
    height: 120px;
    max-width: 1240px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
   
    
    &__belka{
        height: 20px;
        width: 100%;
        background-color: #727271;

    }
    
    &__img{
        display: block;
        height: 80%;
    }

    &__menu {
        width:700px;
        list-style: none;
        display: flex;
        justify-content: space-around;

    }

    &__menu-link {
        text-transform: capitalize;
        text-decoration: none;
        color: red;
        font-size: 16px;
        transition: border-bottom 7s ease-in;

        &:hover {
            color: $maincolor;
            border-bottom: 1px solid $maincolor;

        }
    }

    @media only screen and (max-width: 480px) {
        .logo{
            height: 200px;
            width: 480px;
            size: 0.8;
            &__menu {
            display:none;
            }
        }
        .logo__img {
            scale: 0.7;
        }
    }}

    .btn-motto{
      
        height: 50px;
        width: 350px;
        text-decoration: none;
        text-align: center;
        justify-content: center;
        margin: 30px 0;
        font-size: 30px;
    }

    .menu {
        height: 800px;
        background: url(/img/pins.png) no-repeat center top fixed;
        background-size: 100%;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        &__motto {
            text-transform: capitalize;
            color: white;
            font-size: 70px;
            text-align: center;
            padding-top: 120px;

            &-haslo {
                color: white;
                font-family: $special_font;
            }
        }

        
    }
    .section__about{
        margin: 0 auto;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        display: flex;
    }
    .about {
        margin: 0 auto;
        
        &__container {
            max-width: 1240px;
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;
            flex-direction: row;

        }

        &__half {
            flex-basis: 35%;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        &__img {
            width: 150px;
            height: 290px;
        }

        &__name {
            @extend .title;
            font-size: $desc_size;
            margin: 0;
        }

        //button w pliku __global.scss

    }

    .bgimg {
        height: 980px;
        background: url(/img/pins2.png) no-repeat center center fixed;
        background-size: cover;

        &__motto {
            @extend .menu__motto;
            font-size: 150px;
            padding-top: 10%;

            @media only screen and (max-width: 480px) {
                & {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 50px;

                }
            }

            &-haslo {
                @extend .menu__motto-haslo;
            }
        }
    }

    .offer {


        display: flex;
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;

        &__item {
            display: flex;
            flex-direction: column;
            align-content: flex-start;
            flex-basis: 35%;
            margin-bottom: 30px;

        }

        &__item-img {
            width: 325px;
            height: 325px;
            text-align: center;
            margin: 0 auto;
        }

        &__item-header {
            @extend .title;
            font-size: 24px;
            margin: 20px 0;
            height: 40px;
        }

        &__title {
            flex-basis: 100%;
        }

    }

    .price {

        &__item-header {
            @extend .offer__item-header;
            margin-bottom: 0px;
        }

        &__item-description {
            text-align: center;

        }
    }


    .contact {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        flex-basis: 40%;
        justify-content: space-around;
        &__title {
            flex-basis: 100%;
        }

        &__data-header {
            flex-basis: 100%;
            @extend .offer__item-header;
            margin: 0;
        }

        &__data-description {
            flex-basis: 100%;
        }

        &__map {
            display: block;
            margin-left: 50px;
        }
        &__item{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            
            &-img{
                width: 60px;
                height: 60px;
            }
        }

    }

    @media only screen and (max-width: 480px) {
        .contact__map {
            margin: 0;
        }

        iframe {
            width: 400px;
            height: 520px;
            margin: 0;
        }
    }

  